body {
    background-color: slategray;
    text-align: left;
    margin: 20px;
}

img {
    margin: 60px 0 30px 0;
    width: 250px;
}

h1 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    margin: 10px
}

h2 {
    color: black;
    font: Arial Black;
    font-size: 1.8em;
    margin: 10px;
}

h3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 20px;
}

p {
    color: white;
    font: Arial Black;
    font-size: 1.2em;
    margin: 20px;
}

input {
    width: 500px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.3em;
}

#predictAI {
    background-color: tomato;
    color: white;
    width: 200px;
}

#predictAI:hover {
    background-color: violet;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

td, th {
    text-align: center;
    border: 1px solid black;
}

#physicochemical {
    float: right;
    margin: 0;
    margin-right: 400px;
    color: white;
}